.banner {
    background-color: #15bde7; /* Color de fondo del banner */
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
  }
  
  .banner-title {
    font-size: 24px; /* Tamaño de fuente */
    margin: 0; /* Sin margen */
    font-weight: bold; /* Negrita */
  }

  .products-title {
    text-align: start; /* Centrar el texto */
    font-size: 22px; /* Tamaño de fuente */
    margin: 20px 0; /* Espaciado superior e inferior */
    color: #333; /* Color del texto */
    font-weight: bold; /* Negrita */}